@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 100px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 2px;
}

.text p {
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 20px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
  word-wrap: break-word;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 30px 20px;
    max-width: none;
  }
  
  /* {
    flex-direction: column;
    gap: 23px;
    max-width: none;
  } */

  .text {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .links {
    align-items: center;
  }

  .link {
    
    font-size: 20px;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }

}
